<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- calling header from partials --}}
   {{>headerLinks}}
  </head>

  <body>
   
   {{!-- calling navbar from partials --}}
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                  <img src="./images/4041.png" alt="image" class="img-fluid" title="temp">
                </figure>
           
              <p>Welcome to weather app</p>
            <h1>{{ErrorMsg}}</h1>
              <a href="/"><button>Go Back</button></a>
            </div>

            <!-- right side div -->
          
          </div>
        </div>
      </div>
    </div>


    <!-- footer here -->
   {{>footer}}
  </body>
</html>
